@font-face {
    font-family: 'Circe-Regular';
    src: url('../fonts/Circe-webfont.eot');
    src: url('../fonts/Circe-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Circe-webfont.woff') format('woff'),
         url('../fonts/Circe-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Circe-Bold';
    src: url('../fonts/Circe-Bold-webfont.eot');
    src: url('../fonts/Circe-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Circe-Bold-webfont.woff') format('woff'),
         url('../fonts/Circe-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Circe-ExtraLight';
    src: url('../fonts/Circe-ExtraLight-webfont.eot');
    src: url('../fonts/Circe-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Circe-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/Circe-ExtraLight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Circe-Light';
    src: url('../fonts/Circe-Light-webfont.eot');
    src: url('../fonts/Circe-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Circe-Light-webfont.woff') format('woff'),
         url('../fonts/Circe-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* Elements */
* {margin:0; padding:0;}

html{
	height: 100%;
}
body {
	overflow-y: scroll;
	min-height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
}
a{
	text-decoration: none;
	color: #0a50a7;
}

.page-main{
	padding-bottom: 118px;
}
.page-main.popup_open .b-footer{
	position: static;
}

/* Clearfix */
.clearfix, .wrapper, .wrapper-contacts {
	*zoom: 1;
}
.clearfix:before, .clearfix:after, .wrapper:before, .wrapper:after, .wrapper-contacts:before, .wrapper-contacts:after {
	content: ''; display: table;
}
.clearfix:after, .wrapper:after, .wrapper-contacts:after {
	clear: both;
}

.fl{
	float: left;
}
.fr{
	float: right;
}

.wrapper {
	width: 1100px;
	margin: auto;
	position: relative;
	padding: 0 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.full-screen{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.full-screen_wrap{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.full-screen_mt{
	position: relative;
	margin-top: -120px;
}

.wrapper form {
	font-family: 'Circe-Light';
	text-align: center;
	font-size: 23pt;
	line-height: 2;
	margin-top: 73px;
}

.wrapper form input{
	font-size: 12pt;
	font-family: 'Circe-Bold';
	border: 1px solid #dedede;
	border-radius: 4px;
	padding: 12px 14px 10px 14px;
	position: relative;
	top: -1px;
	margin: 0 10px;
}

.wrapper form input[type=text]:hover {
	border: 1px solid #c7c7c7;
}

.wrapper form input[type=text].error {
	border: 1px solid #c3160f;
	transition: 0.2s;
}

.wrapper form input[type=text].date {
	width: 60px;
}

.wrapper form input[type=submit] {
	font-family: 'Circe-Bold';
	font-size: 10.5pt;
	text-transform: uppercase;
	background: #0a50a7;
	border: 0;
	color: #fff;
	border-radius: 4px;
	padding: 14px 33px 12px 33px;
	margin-top: 60px;
	transition: 0.2s;
}

.wrapper form input[type=submit]:hover {
	background: #1e64ba;
}

.wrapper form input:focus,
.tariffs .content table button:focus {
	outline: none;
}

.wrapper form input[type=submit]:active {
	transition: 0;
	background: #11417e;
}

.wrapper form .spouse,
.wrapper form .children,
.wrapper form .two_children,
.wrapper form .three_children {
	display: none;
}

.tariffs {
	margin: 37px 0;
	display: none;
}

.tariffs .content {
	width: 1000px;
	margin: auto;
	position: relative;
	text-align: center;
}

.tariffs .content h2 {
	font-family: 'Circe-Light';
	font-weight: normal;
	font-size: 26pt;
	margin: 0;
	margin-top: 40px;
}

.tariffs hr.big {	
	border: 0;
	border-top: 1px solid #cdcdcd;
}

.tariffs .content p {
	font-family: 'Circe-Regular';
	font-weight: normal;
	font-size: 12pt;
	color: #7c7c7c;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 40px;
}

.tariffs .content a {
	color: #2176e0;
}

.tariffs .content table {
	width: 738px;
	margin: auto;
	font-size: 12pt;
}

.tariffs .content table tr td:first-child{
	text-align: left;
	width: 310px;
	padding-left: 20px;
}

.tariffs .content thead {
	font-family: 'Circe-Light';
}

.tariffs .content thead td {
	border-bottom: 3px solid #cdcdcd;
	padding-bottom: 10px;
	vertical-align: bottom;
}

.tariffs .content tbody td {
	font-family: 'Circe-Regular';
}

.tariffs .content tbody td {
	border-bottom: 1px solid #cdcdcd;
	padding: 8px 0 6px 0;
}

.tariffs .content tbody .number {
	font-family: 'Circe-ExtraLight';
	font-size: 34pt;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;  
}

.tariffs .content tbody td small {
	color: #7c7c7c;
}

.tariffs .content tbody td small.price {
	color: #000;
	font-size: 13pt;
	top: -10px;
	position: relative;
}

.tariffs .content .change_visits {
	width: 718px;
	font-size: 12pt;
	color: #7c7c7c;
	text-align: left;
	margin: 20px auto;
	padding-left: 20px;
	font-family: 'Circe-Regular';
}

.tariffs .content table button {
	border: 1px solid #0a50a7;
	font-family: 'Circe-Bold';
	font-size: 10.5pt;
	text-transform: uppercase;
	background: #fff;
	color: #000;
	border-radius: 4px;
	padding: 10px 18px 8px 18px;
	transition: 0.2s;
}

.tariffs .content table button:hover{
	background: #0a50a7;
	color: #fff;
}

.tariffs .content table button:active{
	background: #073773;
}

.tariffs .content table button.border {
	padding: 10px 33px 8px 33px;
}

.tariffs .content table .arrows {
	display: inline-block;
	width: 10px;
}

.tariffs .content table .arrows .top,
.tariffs .content table .arrows .bot {
	margin-left: 5px;
	width: 20px;
	height: 16px;
	cursor: pointer;
	background: url(../img/arrow_top_blue.jpg);
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}

.tariffs .content table .arrows .bot {
	background: url(../img/arrow_bot_grey.jpg);
	background-repeat: no-repeat;
	background-position: center;
}


/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}


.b-header{
	position: relative;
	z-index: 1;
	-webkit-transition: padding .5s;
	transition: padding .5s;
}
.b-header.topline-open{
	padding-top: 58px;
}
.b-header.topline-hide{
	padding-top: 0;
}
.b-header_topline{
	margin-bottom: 10px;
	border-bottom: 1px solid #dfdfdf;
	padding: 18px 0px 8px;
	position: absolute;
	width: 100%;
	top: 0;
	-webkit-transition: top .5s;
	transition: top .5s;
}
.topline-hide .b-header_topline{
	top: -58px;
}
.b-header_topline-text{
	font: 14px 'Circe-Regular', sans-serif;
	text-align: center;
}
.b-header_topline-text:before{
	content: "";
	padding-left: 10px;
	background: url('../img/ico_07.png') no-repeat 0 3px;
	width: 10px;
	height: 14px;
}
.b-header_topline-text .l-txt{
	margin-left: 10px;
}
.b-header_topline-close{
	background: url('../img/ico_08.png') no-repeat 0 0px;
	width: 9px;
	height: 10px;
	float: right;
	margin-top: 4px;
	cursor: pointer;
}

.b-header .b-header_nav{
	padding-top: 16px;
}
.l-header_logo {
	width: 115px;
	height: 37px;
	background: url(../img/logo.png); 
	background-repeat: no-repeat;
	float: left;
}
.b-autorize{
	float: right;
	font-size: 14px;
}
.b-autorize_logined-cont{
	margin-left: 64px;
	padding-top: 3px;
}
.b-autorize_logined-cont .name{
	font: 20px/22px 'Circe-Regular', sans-serif;
	margin-bottom: 2px;
}
.b-autorize_logined-cont .logout{
	font: 15px/22px 'Circe-Regular', sans-serif;
	color: #0a50a7;
	display: block;
	cursor: pointer;
}
.btn{
	padding: 15px 25px;
	border-radius: 4px;
	display: inline-block;
	font-family: 'Circe-Bold';
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1;
}
.btn.type_1{
	border: 1px solid #155cb3;
	color: #000;
	background-color: transparent;
	-webkit-transition: border .25s;
	transition: border .25s;
}
.btn.type_1:hover{
	border-color: #1e64ba;
}
.btn.type_2{
	background-color: #0a50a7;
	color: #fff;
	border: none;
	-webkit-transition: background-color .25s;
	transition: background-color .25s;
}
.btn.type_2:hover{
	background-color: #1e64ba;
}
.l-autorize_lnk,
.l-autorize_btn{
	text-transform: uppercase;
	text-decoration: none;
}
.l-autorize_lnk{
	border-bottom: 1px dashed #0a50a7;
	color: #0a50a7;
	font-family: 'Circe-Bold';
}
.l-autorize_lnk:hover{
	border-bottom: 1px dashed transparent;
	transition: border .25s;
}
.l-autorize_btn{
	margin-left: 30px;
}


/* b-mainpromo */
.b-mainpromo_title{
	text-align: center;
	font: normal 84px/94px 'Circe-ExtraLight', sans-serif;
	margin-bottom: 106px;
	margin-top: 80px;
}
.b-mainpromo_col{
	width: 25%;
	float: left;
	text-align: center;
	padding: 0 20px;
  	box-sizing: border-box;
}
.l-mainpromo_cols_ico{
	width: 75px;
	height: 75px;
	border-radius: 38px;
	border: 1px solid #0a50a7;
	display: inline-block;
	background: url('../img/sprites_01.png') no-repeat;
	margin-bottom: 8px;
}
.l-mainpromo_cols_ico.type_1{background-position: 22px 16px;}
.l-mainpromo_cols_ico.type_2{background-position: -43px 15px;}
.l-mainpromo_cols_ico.type_3{background-position: -103px 22px;}
.l-mainpromo_cols_ico.type_4{background-position: -174px 18px;}

.l-mainpromo_cols_text{
	text-transform: uppercase;
	font: 15px/24px 'Circe-Bold', sans-serif;
}

/* .b-mainpromo_descr */
.b-mainpromo_descr_row{
	padding: 52px 0px 52px;
	border-top: 1px solid #dfdfdf;
}
.b-mainpromo_descr_row.no-brd{
	border-top: none;
}
.b-mainpromo_descr_fl{
	width: 340px;
	float: left;
}
.b-mainpromo_descr_fl-title{
	font: normal 57px/72px 'Circe-ExtraLight', sans-serif;
	letter-spacing: -2px;
	margin-top: 4px;
}
.b-mainpromo_descr_fr{
	width: 720px;
	float: left;
	padding-left: 38px;
	padding-top: 22px;
	box-sizing: border-box;
}
.b-mainpromo_descr_fr-text{
	line-height: 28px;
	font-size: 15px;
	font-family: Arial, sans-serif;
	margin-bottom: 28px;
	color: #494949;
}
.b-mainpromo_descr_cols-order-list{
	list-style: none; 
	counter-reset: point;
	margin-bottom: 6px;
}
.b-mainpromo_descr_cols-order-item{
 	margin-bottom: 26px;
    position: relative;
    width: 33%;
	float: left;
}
.b-mainpromo_descr_cols-order-item:before{
	content: counter(point) '.'; 
    counter-increment: point 1; /* увеличваем счетчик на 1 */
    font-size: 11px; 
    position: absolute;
    left: 0;
    top: 0;
    color: #0a50a7;
    font: normal 14px/22px 'Circe-Bold', sans-serif;
}
.b-mainpromo_descr_cols-order-item h5{
	text-transform: uppercase;
	font: normal 14px/22px 'Circe-Bold', sans-serif;
	margin-bottom: 8px;
	padding-left: 14px;
}
.b-mainpromo_descr_cols-order-item p{
	font-size: 13px;
	font-family: Arial, sans-serif;
	color: #9f9f9f;
	line-height: 20px;
	padding-right: 20px;
}

.b-mainpromo_descr-list{
	margin: 34px 0 44px;
}
.b-mainpromo_descr-item{
	margin-bottom: 40px;
	clear: both;
	list-style: none;
	min-height: 70px;
}
.b-person_item-pic{
	float: left;	
}
.b-person_item-pic img{
	vertical-align: bottom;
}
.b-person_item-pic-wrap{
	margin-left: 92px;
	width: 420px;
}
.b-person_item-pic-wrap h5{
	color: #0a50a7;
	font: 20px/24px 'Circe-Regular', sans-serif;
	margin-bottom: 8px;
}
.b-person_item-pic-wrap p{
	font: 13px/19px 'Circe-Regular', sans-serif;
	color: #737373;
}


.b-mainpromo_slide{
	margin-bottom: 30px;
}
.b-slide-person{
	width: 224px;
	display: block;
	margin-left: 30px;
	margin-bottom: 12px;
	min-height: 50px;

}
.b-slide-person_pic{
	float: left;
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	-webkit-transition: transform .3s .7s, opacity .3s .7s;
	transition: transform .3s .7s, opacity .3s .7s;
}
.slick-active .b-slide-person_pic{
	opacity: 1;
	-webkit-transform: scale(1) translateX(0px);
	transform: scale(1) translateX(0px);
}
.b-slide-person_cont{
	margin-left: 70px;
}
.b-slide-person_name{
	font: 20px/30px 'Circe-Bold', sans-serif;
	opacity: 0;
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-transition: transform .5s, opacity .5s;
	transition: transform .5s, opacity .5s;
}
.slick-active .b-slide-person_name{
	opacity: 1;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.b-slide-person_num{
	font: 15px/22px 'Circe-Regular', sans-serif;
	opacity: 0;
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-transition: transform .5s .3s, opacity .5s .3s;
	transition: transform .5s .3s, opacity .5s .3s;
}
.slick-active .b-slide-person_num{
	opacity: 1;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.b-slide-person_text{
	font: 14px/24px Arial, sans-serif;
	color: #737373;
	opacity: 0;
	-webkit-transition: opacity .75s;
	transition: opacity .75s;
}
.slick-active .b-slide-person_text{
	opacity: 1;
}
.b-mainpromo_slider .slick-prev,
.b-mainpromo_slider .slick-next{
	position: absolute;
	top: 11px;
	font-size: 0;
	border: none;
	width: 20px;
	height: 27px;
	outline: none;
}
.b-mainpromo_slider .slick-prev{
	background: transparent url('../img/ico_05.png') no-repeat;
	left: 0;
}
.b-mainpromo_slider .slick-next{
	background: transparent url('../img/ico_06.png') no-repeat;
	left: 266px;
}

.b-account_autorize-btn{
	float: left;
}
.b-account_autorize-text{
	margin-left: 220px;
	font: 14px/20px 'Circe-Bold', sans-serif;
}



.b-mainpromo_steps-list{
	list-style: none; 
	counter-reset: point;
	margin-bottom: 6px;
	margin-top: 16px;
}
.b-mainpromo_steps-item{
 	margin-bottom: 20px;
    position: relative;
  	clear: both;
  	min-height: 48px;
}
.b-mainpromo_steps-item:before{
	content: counter(point);
	counter-increment: point 1;
	float: left;
	color: #000;
	width: 46px;
	height: 46px;
	border: 1px solid #0a50a7;
	border-radius: 24px;
	text-align: center;
	font: normal 29px/48px 'Circe-Regular', sans-serif;
}
.b-mainpromo_steps-text{
	padding-left: 63px;
	display: block;
	font: 20px/48px 'Circe-Bold', sans-serif;
}
.b-mainpromo_steps-text a{
	color: #0a50a7;
	text-decoration: none;
}


.l-footer_logo{
	height: 37px;
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	width: 340px;
  	float: left;
  	margin-top: 14px;
}
.b-footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.b-footer_wrapper{
	border-top: 1px solid #dfdfdf;
	padding: 22px 0 44px;
}
.b-fotter_autorize{
	width: 720px;
	float: left;
	padding-left: 38px;
	padding-top: 22px;
	font: 14px/22px 'Circe-Bold', sans-serif;
	moz-box-sizing: border-box;
	box-sizing: border-box;
}
.l-fotter_autorize_lnk:first-child{
	margin-left: 0;
}
.l-fotter_autorize_lnk{
	color: #0a50a7;
	text-decoration: none;
	border-bottom: 1px dashed #0a50a7;
	margin-left: 24px;
	-webkit-transition: border-color .25s;
	transition: border-color .25s;
}
.l-fotter_autorize_lnk:hover{
	border-bottom: 1px dashed transparent;
}

.block-vertical_algn{
	position: absolute;
	top: -100px;
	bottom: 0;
	left: 0;
	right: 0;
}
.wrapper-vertical_algn{
	display: table;
	width: 100%;
	height: 100%;
	min-width: 1060px;
}
.container-vertical_algn{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.inner-vertical_algn{
	display: inline-block;
}

.b-congratulation{
	width: 410px;
	text-align: left;
}
.b-congratulation_title{
	font: 38px/62px 'Circe-Light', sans-serif;
	position: relative;
	padding-left: 70px;
	letter-spacing: -1px;
	margin-bottom: 26px;
}
.b-congratulation_title:before{
	content: "";
	background: url('../img/ico_01.png') 14px 17px no-repeat;
	width: 48px;
	height: 48px;
	border: 1px solid #0a50a7;
	border-radius: 25px;
	display: inline-block;
	position: absolute;
	top: 4px;
	left: 0;
}
.b-congratulation_text{
	font: 18px/26px 'Circe-Regular', sans-serif;
	margin-bottom: 24px;
}
.b-congratulation_list{
	margin-bottom: 40px;
}
.b-congratulation_item{
	list-style-type: none;
	font-size: 18px;
	line-height: 26px;
}
.b-congratulation_item .sub_title{
	font-family: 'Circe-Regular', sans-serif;
}
.b-congratulation_item .text{
	font-family: 'Circe-Bold', sans-serif;
}


/* .b-make_app */
.b-make_app{
	border: 1px solid #dfdfdf;
	width: 490px;
	float: right;
	margin-bottom: 22px;
}
.b-make_app-dropdown{	
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
}
.b-make_app-dropdown:after{
	content: "";
	background: url('../img/sprites_01.png') -262px 0 no-repeat;
	width: 12px;
	height: 8px;
	position: absolute;
	top: 65px;
	right: 25px;
}
.b-make_app-dropdown.active:after{
	background: url('../img/sprites_01.png') -262px -11px no-repeat;
}
.b-make_app-dropdown .b-mainpromo_descr-list{
	margin: 0;
	padding: 29px 0;
}
.b-make_app-dropdown .b-mainpromo_descr-item{
	display: none;
	margin: 0;
	margin-top: 20px;
	padding: 0 29px;
	padding-top: 20px;
	border-top: 1px solid #dfdfdf;
}
.b-make_app-dropdown .b-mainpromo_descr-item.current{
	display: block;
	padding-top: 0;
	margin-top: 0;
	border-top: 1px solid transparent;
}
.b-make_app-dropdown .b-person_item-pic-wrap{
	width: 300px;
}
.b-make_app-price{
	border-top: 1px solid #dfdfdf;
	padding: 11px 29px 14px;
	box-sizing: border-box;
}
.b-make_app-price_l{
	font: 26px/75px 'Circe-Light', sans-serif;
}
.b-make_app-price_r{
	font: 16px/75px 'Circe-Bold', sans-serif;
}
.b-make_app-price_r-wrap{
	line-height: 24px;
	display: inline-block;
	vertical-align: middle;
}
.b-make_app-price_r .text{
	color: #737373;
}
.b-make_app-price_r .price_btn{
	color: #0a50a7;
	border-bottom: 1px dashed #0a50a7;
	cursor: pointer;
	-webkit-transition: border-color .25s;
	transition: border-color .25s;
}
.b-make_app-price_r .price_btn:hover{
	border-bottom: 1px dashed transparent;
}
.b-make_app-attention{
	border-top: 1px solid #dfdfdf;
	padding: 14px 22px;
	font: 15px 'Circe-Regular', sans-serif;
}
.b-make_app-attention .l-text{
	position: relative;
	padding-left: 25px;
}
.b-make_app-attention .l-text:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: url('../img/sprites_01.png') -291px 5px no-repeat;
	width: 16px;
	height: 16px;
	border: 1px solid #0a50a7;
	border-radius: 18px;
}

form.b-price_app-form{
	float: right;
	width: 492px;
	text-align: right;
	line-height: 62px;
	font: 16px/62px 'Circe-Regular', sans-serif;
	margin-top: 0;
}
.b-price_app-form .l-fieldcell{
	float: left;
	width: 50%;
	text-align: left;
	min-height: 1px;
	line-height: 1;
	box-sizing: border-box;
}
.b-price_app-form .l-fieldcell:first-child{
	text-align: right;
	padding-right: 18px;
}
.b-price_app-form .l-fieldrow input{
	border: 1px solid #dedede;
	border-radius: 4px;
	padding: 0 14px;
	margin-right: 0;
	line-height: 43px;
	margin-bottom: 24px;
	box-sizing: border-box;
}
.b-price_app-form .l-fieldrow input.mb0{
	margin-bottom: 0;
}
.b-price_app-form input.inp_s1{
	width: 232px;
	height: 45px;
}
.b-price_app-form input.inp_s2{
	width: 109px;
	height: 45px;
}
.b-price_app-form label{
	display: block;
}
.b-price_app-form .l-inp_lnk{
	font: 16px 'Circe-Regular', sans-serif;
	margin: 10px 0 30px;
	display: inline-block;
}
.b-price_app-form .b-quest{
	display: inline-block;
	margin-left: 10px;
}
.l-quest-ico_btn{
	display: inline-block;
	cursor: pointer;
	font: 14px/28px 'Circe-Bold', sans-serif;
	text-align: center;
	color: #0a50a7;
	width: 26px;
	height: 26px;
	border: 1px solid #dfdfdf;
	border-radius: 14px;
}
.b-price_app-form .l-info_txt{
	font: 14px/22px 'Circe-Bold', sans-serif;
	margin: 14px 0px 24px;
}
.b-price_app-form .l-info_txt a{
	text-decoration: none;
	color: #0a50a7;
}


.b-login_popup{
	width:100%;
	height: 100%;
	position: fixed;
	overflow-y: auto;
	top: 0;
    z-index: 100;
	background-color: rgba(0,0,0,0.6);
	-ms-animation: popup-bg .3s;
	-moz-animation: popup-bg .3s;
	-webkit-animation: popup-bg .3s;
}
@-ms-keyframes popup-bg{0%{opacity: 0}100%{opacity: 1}}
@-moz-keyframes popup-bg{0%{opacity: 0}100%{opacity: 1}}
@-webkit-keyframes popup-bg{0%{opacity: 0}100%{opacity: 1}}
.lt-ie9 .b-login_popup{
	background: url('../img/bg_over.png') repeat;
}
.b-login_popup-cont{
	width: 508px;
	background-color: #fff;
	position: absolute;
	right: 0;
	box-sizing: border-box;
	-webkit-transition: height 2s;
	transition: height 2s;
	-ms-animation: popup-show .4s;
	-moz-animation: popup-show .4s;
	-webkit-animation: popup-show .4s;
}
@-ms-keyframes popup-show{0%{right:-508px}100%{right:0}}
@-moz-keyframes popup-show{0%{right:-508px}100%{right:0}}
@-webkit-keyframes popup-show{0%{right:-508px}100%{right:0}}
.l-popup_close{
	background: url('../img/sprites_01.png') -282px -30px no-repeat;
	width: 18px;
	height: 18px;
	cursor: pointer;
	margin-top: 6px;
}
.l-popup_title{
	font: 27px/ 30px 'Circe-Light', sans-serif;
	color: #000;
	float: left;
	width: 390px;
}
.b-popup_content p{
	font: 14px/24px Arial, sans-serif;
	color: #737373;
	margin-bottom: 10px;
}
.l-swiper_text{
	cursor: pointer;
	font: 27px/ 30px 'Circe-Light', sans-serif;
	border-bottom: 1px dashed #0a50a7;
	color: #0a50a7;
	-webkit-transition: color .25s, border-color .25s;
	transition: color .25s, border-color .25s;
}
.l-swiper_text:hover{
	border-bottom: 1px dashed transparent;
}
.l-swiper_text.current{
	font: 27px/ 30px 'Circe-Light', sans-serif;
	color: #000;
	border-bottom: 1px dashed transparent;
}
.b-swiper{
	line-height: 30px;
	width: 46px;
	vertical-align: text-bottom;
	height: 21px;
	display: inline-block;
	margin: 0 12px;
	border-radius: 10px;
	background-color: #0a50a7;
	position: relative;
}
.l-swiper_circle{
	left: 4px;
	top: 4px;
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 7px;
	background-color: #fff;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: left .25s;
	transition: left .25s;
}
.b-login_popup-row{
	padding: 50px 40px;
	border-top: 1px solid #dfdfdf;
}
.b-login_popup-row:first-child,
.b-login_popup-row.no-brd{
	border-top: 1px solid transparent;	
}
.b-login_popup-row.no-brd{
	padding-top: 26px;
}
.b-login_popup-cls{
	font: 18px 'Circle-Regulat', sans-serif;
}
.b-login_popup form{
	display: none;
	width: 428px;
}
.b-login_popup form.active{
	display: block;
}
.b-login_popup .l-fieldcell:first-child{
	text-align: left;
}
.b-login_popup input.inp_s1{
	width: 207px;
}


.b-login_social {
	padding: 0px 40px;
	border-top: 1px solid #dfdfdf;
}
.b-login_social-wrap{
	padding: 40px 0 30px;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 16px;
}
.b-login_social-text{
	font: 18px 'Circe-Bold', sans-serif;
	color: #737373;
	text-align: center;
}
.b-login_social .btn{
	background-image: url('../img/socials.png');
	background-repeat: no-repeat;
	padding: 15px 16px;
	width: 204px;
	text-align: right;
	box-sizing: border-box;
}
.b-login_social .btn_fb{
	background-color: #275fa4;
	background-position: 22px 13px;
	float: left;
}
.b-login_social .btn_vk{
	background-color: #3b6395;
	background-position: 8px -28px;
	float: right;
}