.ico_01, .ico_02, .ico_03, .ico_04{
	background: url(sprites.png) no-repeat;
}

.ico_01{
	background-position: 0 0;
	width: 33px;
	height: 46px;
}

.ico_02{
	background-position: -63px 0;
	width: 38px;
	height: 40px;
}

.ico_03{
	background-position: -121px 0;
	width: 40px;
	height: 35px;
}

.ico_04{
	background-position: -199px 0;
	width: 24px;
	height: 40px;
}

